@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Localization

@{
    var requestCultureFeature = Context.Features.Get<IRequestCultureFeature>();
    var currentCulture = requestCultureFeature?.RequestCulture.UICulture.Name ?? "en";

    var returnUrl = Context.Request.GetEncodedPathAndQuery();

    var languages = new List<(string Code, string Name)>
    {
        ("en", "English"),
        ("hi", "हिन्दी"),
        ("or", "ଓଡ଼ିଆ")
    };

    var currentLang = languages.FirstOrDefault(l => l.Code == currentCulture);
    currentLang = currentLang.Code != null ? currentLang : languages[0];
}


<div class="dropdown row m-0 p-0">
    <a id="dropdownMenuButton" class="btn dropdown-toggle language-selector-custom-dropdown btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
        @currentLang.Name
    </a>
    <ul class="dropdown-menu">
        @foreach (var lang in languages)
        {
            <li>
                <form asp-controller="Language" asp-action="SetLanguage" method="post" class="d-inline">
                    <input type="hidden" name="culture" value="@lang.Code" />
                    <input type="hidden" name="returnUrl" value="@returnUrl" />
                    <button type="submit" style="text-align: right;" class="dropdown-item @(lang.Code == currentCulture ? "active" : "")">
                        @lang.Name
                    </button>
                </form>
            </li>
        }
    </ul>
</div>