@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject Microsoft.Extensions.Localization.IStringLocalizer<Labels> Localizer

<div class="container bg-body text-body ">
    <div class="row m-1 p-2 mt-4">
        <div class="col-lg-12">
            <h2>@Localizer["01_Header_1"]</h2>
        </div>
    </div>
    <div class="row g-1">
        <div class="col-lg-3">
            @await Component.InvokeAsync("ArtistOfTheDay")
        </div>
        <div class="col-lg-4">
            <quotes-carousel interval="15000"></quotes-carousel>
        </div>
        <div class="col-lg-5">
            @await Component.InvokeAsync("MusicOfTheDay")
        </div>
    </div>
    <div class="row m-1 p-2 mt-4">
        <div class="col-lg-12">
            <h3>@Html.Raw(@Localizer["01_Header_2"])</h3>
            <div class="row">
                <div class="col-12 m-0 p-2">@Html.Raw(@Localizer["Content_Homepage_Para_1"])</div>
                <div class="col-12 m-0 p-2">@Html.Raw(@Localizer["Content_Homepage_Para_2"])</div>
                <div class="col-12 m-0 p-2">@Html.Raw(@Localizer["Content_Homepage_Para_3"])</div>
            </div>
        </div>
        <div class="col-lg-12">
            <!-- A button to throw error for testing -->
            <form asp-controller="Home" asp-action="CauseError" method="post">
                <button type="submit">Cause an Error</button>
            </form>
        </div>
    </div>
</div>